includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/shipmonk/dead-code-detector/rules.neon
  - vendor/shipmonk/phpstan-rules/rules.neon

parameters:
  level: max
  checkUninitializedProperties: true
  checkMissingCallableSignature: true
  reportAnyTypeWideningInVarTag: true
  reportPossiblyNonexistentConstantArrayOffset: true
  reportPossiblyNonexistentGeneralArrayOffset: true

  phpVersion:
    min: 80400
    max: 80500

  paths:
    - src
    - tests

  exceptions:
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true
      throwTypeCovariance: true
    implicitThrows: false
    checkedExceptionClasses:
      - RuntimeException

  shipmonkDeadCode:
    usageExcluders:
      tests:
        enabled: true

  shipmonkRules:
    forbidCast:
      enabled: false

  ignoreErrors:
    - identifier: missingType.checkedException
      path: tests/*
    - identifier: staticMethod.alreadyNarrowedType
      path: tests/*
